.editor-group-watermark {
  max-width: 1500px !important;
  padding-left: 1em;
  padding-right: 1em;
}

.editor-group-watermark .letterpress {
  background-image: url("https://github.com/MuchiroudeAstrea/theme-vscode/blob/24eb4876329bb6807ab4fe9265077ee9f5a26aa1/VSCode.png?raw=true") !important;
  aspect-ratio: 8/5 !important;
}
